<!DOCTYPE html>
<html>

<head>
  {{>head}}
</head>

<body>

  <div class="hero_area">
    <!-- navbar section strats -->
    
    {{>navbar}}

    <!-- end navbar section -->

    <!-- main section -->
    <section class="main_section">
    <div class="container ">
      
        
          <div class="detail-box">
            <h1>
              Welcome to the Shops Tab!
            </h1>
            <p>
              Find the things you need here for a cheap price.
            </p>
          </div>
          
          <div class="center">
            <div class="img-box">
              <img src="images/main-img.webp" alt="">
            </div>
          
        </div>
      
    </div>
    </section>  
    <!-- end main section -->

  </div>

  <!-- about section -->
  {{>about}}
  <!-- end about section -->

  <!-- why us section -->
  {{>why}}
  <!-- end why us section -->

  <!-- info section -->
  {{>footer}}

  <!-- end info_section -->

  <!-- jQery -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.js"></script>


</body>

</html>