<section class="about_section">
    <div class="container-fluid  ">
        <div class="row">
            <div class="col-md-5 ml-auto">
                <div class="detail-box pr-md-3">
                    <div class="heading_container">
                        <h2>
                            We Provide The Best For You
                        </h2>
                    </div>
                    <p>
                        The Shops Tab is a website for you to find all the things you might need for you academics and
                        college
                        life here, for a cheap price and ease of delivery.
                    </p>
                </div>
            </div>
            <div class="col-md-6 px-0">
                <div class="img-box">
                    <img src="images/about-img.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>