<section class="why_us_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Why Choose Us
            </h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box ">
                    <div class="img-box">
                        <img src="images/w3.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Sellers from your institution
                        </h5>
                        <p>
                            Everyone here is from your institute!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box ">
                    <div class="img-box">
                        <img src="images/w2.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Ease of delivery
                        </h5>
                        <p>
                            Connect directly with sellers and get your items from them directly!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box ">
                    <div class="img-box">
                        <img src="images/box.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h5>
                            Necessary Goods
                        </h5>
                        <p>
                            Products listed can be very useful to those who are new to college.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>